@import url('https://fonts.googleapis.com/css?family=Baloo Chettan');

#navbar_list {
  padding:  10px;
  background: rgba(0,0,0,0.4);
  font-family: Baloo Chettan;
  font-size: 20px;
  color: blue;
  margin-bottom: 100px;
  box-shadow: 2px 2px white;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}
.navbar_item {
  padding: 0px 10px 0px 10px;
  display: inline;
  position: relative;
}

#social-nav{
	position: relative;
	padding-left: 600px;
	padding-right: 50px;
}

.fa {
    padding: 0;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
 }

.fa:hover {
    color: #ac3973
}

.fa-facebook {
    color: white;
  }

.fa-twitter{
	color: white;
}

.fa-home{
	color:#ac3973;
}

.fa-home:hover{
	color: #00cc00;
}

#girls_left {
	display: block;
	margin: auto;
	max-height: 250px;
	border-radius: 50%;
	border: white dotted thick;
	box-shadow: 5px 5px rgba(172, 57, 115, 0.5);
}

#girls_right {
	display: block;
	margin: auto;
	max-height: 250px;
	border-radius: 50%;
	border: white dotted thick;
	box-shadow: 5px 5px rgba(172, 57, 115, 0.5);
}

#girls_centre {
	display: block;
	margin: auto;
	max-height: 250px;
	border-radius: 50%;
	border: white solid thick;
}


body{
	background-image: url("Building-Glass-Architecture-Modern-Facade-1862638_darkened.jpg");
	background-size: cover;
	color: white;
}

#about_text{
	font-family: Baloo Chettan;
	font-size: 50px;
	text-align: center;
	text-shadow: 2px 2px black;
	letter-spacing: 2px;
	text-decoration: underline;
}


h2{
	font-family: Baloo Chettan;
	font-family: 200px;
	text-shadow: 2px 2px #ac3973;
	letter-spacing: 2px;

}

h3{
	font-family: Baloo Chettan;
	font-size: 30px;
	text-align: center;
	text-shadow: 2px 2px black;
	letter-spacing: 2px;

}

p{
	padding-top: 100px;
}

.col-sm-6{
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
	text-align: justify;
}

#column_rule{
	-webkit-column-rule: 4px outset #ff00ff;
}

.col-sm-12 {
	margin-bottom: 25px;
	margin-top: 25px;
	text-align: center;
}

#campus_address{
	text-align: center;
	padding-top: 90px;
	text-decoration: underline;
	color: white;
	text-shadow: 2px 2px #ac3973;
}

iframe{
	width: 400px;
	height: 400px;
	display: block;
	margin: auto;
	margin-top: 10px;
	border-radius: 25px 25px 25px 25px;
	padding: auto;
}

#contact_form{
	font-size: 22px;
	font-family: Baloo Chettan;
	text-shadow: 2px 2px #ac3973;
	letter-spacing: 2px;
}

#contact_section{
	margin-top: 100px;
}

.button{
	background-color: pink;
}

#twitter_widget {
	display: block;
	margin: auto;
	margin-top: 10px;
}