@import url('https://fonts.googleapis.com/css?family=Baloo Chettan');

#navbar_list {
  padding:  10px;
  background: rgba(0,0,0,0.4);
  font-family: Baloo Chettan;
  font-size: 20px;
  color: blue;
  margin-bottom: 100px;
}
.navbar_item {
  padding: 0px 10px 0px 10px;
  display: inline;
}

#social-nav{
	margin-left: 500px;
}

.fa {
    padding: 0;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
 }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: white;
  }

.fa-twitter{
	color: white;
}

body{
	background-image: url("Building-Glass-Architecture-Modern-Facade-1862638_darkened.jpg");
	background-size: cover;
	color: white;
}

h2{
	font-family: Baloo Chettan;
	font-family: 200px;

}

h3{
	font-family: Baloo Chettan;
	font-size: 30px;
	text-align: center;
}

.col-sm-6{
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
	text-align: justify;
	column-rule: 4px solid #ff00ff;
}

.col-sm-12{
	margin-bottom: 25px;
	margin-top: 25px;
	text-align: center;
}

iframe{
	width: 400px;
	height: 400px;
}
