
#navbar_list {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
.navbar_item {
  padding: 0px 10px 0px 10px;
  display: inline;
}

.myCarousel {
  display: block;
  margin-left: auto;
  margin-right: auto
  position: relative;
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 75px;
  margin: 60px 0 0 0;
  color: #bbbbbb;
}

body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  color: #bbbbbb;
  max-width: 10,000px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#B0C4DE, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#B0C4DE, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#B0C4DE, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#B0C4DE white); /* Standard syntax */
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #444;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext: after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



































